@media (min-resolution: 192dpi) {
    .hero {
        &__block {
            background-image: url(../img/hero-bg@2x.jpg);
        }
    }
}



@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .header {
        padding: 20px 0 14px;

        &__right {
            display: none;
        }
    }

    .menu-container {

        & .socials {
            gap: 12px;
        }

        & .socials__icon {
            width: 20px;
            height: 20px;
            stroke: var(--white);
        }
    }

    .hero {

        &__block {
            padding: 20px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 24px;
            line-height: 1.2;
            letter-spacing: -0.03em;

            & br {
                display: none;
            }
        }

        &__buttons {
            flex-direction: column;
            row-gap: 32px;
        }

        &__buttons-link {
            padding: 12px 28px;
        }

        &__button-scroll {
            align-self: baseline;
            gap: 12px;
        }

        &__button-scroll-text {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.03em;
        }
    }

    .benefits {
        margin-bottom: 40px;

        &__list {
            flex-direction: column;
            gap: 38px;
            max-width: 308px;
        }
    }
    

    .title {
        max-width: 283px;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        margin-bottom: 27px;
    }

    .ingridients {
        padding: 40px 0;

        &__list {
            flex-direction: column;
        }
    }

    .production {
        padding: 40px 0;

        &__info {
            padding: 20px 14px;
        }
    }
}

@media (max-width: 374px) {
    .hero {
        &__subtitle {
            font-size: 18px;
        }

        &__buttons-list {}

        &__buttons-link {
            padding: 12px 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        padding: 0 32px;
    }

    .benefits {
        margin-bottom: 100px;
        &__list {
            flex-wrap: wrap;
            row-gap: 44px;
        }

        &__list-item {
            flex-basis: calc((100% - 88px) / 2);
        }
    }

    .ingridients {
        padding: 50px 0;

        &__list {
            row-gap: 32px;
        }

        &__list-item {
            flex-basis: calc((100% - 32px) / 2);

            &:first-child {
                order: 0;
            }

            &:nth-child(2) {
                order: 2;
            }

            &:nth-child(3) {
                order: 3;
            }

            &:nth-child(4) {
                order: 1;
            }

            &:nth-child(5) {
                order: 4;
            }

            &:nth-child(6) {
                order: 5;
            }

            &:last-child {
                order: 6;
            }
        }
    }

    .production {
        padding: 40px 0;

        &__block {
            align-items: center;
        }

        &__video {
            max-width: 614px;
        }

        &__info {
            max-width: 614px;
        }

        &__list {
            max-width: 480px;
        }

        &__list-item {
            & br {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {

    .header {
        &__burger {
            display: none;
        }

        & .nav__menu {
            margin-right: 48px;
        }
    }
}

@media (max-width: 1199px) {

    .header {
        &__logo-title {
            font-size: 14px;
        }

        &__logo-icon {
            width: 21px;
            height: 21px;
        }
    }

    .hero {
        &__buttons-link {
            white-space: nowrap;
        }
    }

    .benefits {
        &__list {
            padding: 0;
        }

        &__list-item {
            &::after {
                display: none;
            }
        }

        &__list-item-text {
            line-height: normal;
        }
    }

    .ingridients {
        &__list-item {
            padding-top: 32px;
        }
        &__list-item-image {
            width: 236px;
            height: 176px;
            object-fit: cover;
            margin-bottom: 16px;
        }
    }

    .production {

        &__block {
            flex-direction: column;
            gap: 20px;
        }

        &__video {
            height: 500px;
        }
    }

}