:root {
    --black: #111111;
    --orange: #fd9222;
    --violet: #1e1823;
    --beige: #fcf1e0;
    --white-2: #fafafa;
    --gray: #4c4c4c;
    --white: #ffffff;
    --font-primary: 'Montserrat', sans-serif;
}

@import "reset";

body {
    font-family: var(--font-primary);
    color: var(--black);
    background-color: var(--white-2);
}

.container {
    min-width: 320px;
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 26px 0 34px;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    &__logo-italic {
        font-style: italic;
    }

    &__logo-icon {
        width: 24px;
        height: 24px;
        margin-left: 4px;
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__burger {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
    }

    &__burger-icon {
        stroke: var(--black);
    }
}

.nav {
    &__menu {
        display: flex;
        gap: 24px;
        margin-right: 90px;
    }

    &__menu-link {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.02em;
        transition: color .3s ease-in-out;

        &:hover,
        &:focus {
            color: var(--orange);
        }
    }
}

.socials {
    display: flex;
    gap: 14px;

    &__link:hover &__icon,
    &__link:focus &__icon {
        stroke: var(--orange);
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: transparent;
        stroke: var(--black);
        transition: stroke .3s ease-in-out;
    }
}

.hero {
    padding-bottom: 80px;

    &__block {
        display: flex;
        align-items: flex-end;
        min-height: 600px;
        border-radius: 30px;
        background-color: rgba(17, 17, 17, 0.60);
        background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, rgba(17, 17, 17, 0.40) 100%), url(../img/hero-bg.jpg), lightgray -435.077px -7.879px / 282.839% 101.752% no-repeat;
        background-position: center right;
        background-size: cover;
        padding: 40px;
    }

    &__info {
        width: 100%;
    }

    &__subtitle {
        max-width: 484px;
        color: var(--white);
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.03em;
        margin-bottom: 32px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__buttons-list {
        display: flex;
        gap: 14px;
    }

    &__buttons-item {}

    &__buttons-link {
        display: inline-block;
        color: var(--white);
        font-size: 14px;
        font-weight: 600;
        border-radius: 100px;
        cursor: pointer;
        padding: 14px 40px;
    }

    &__button-orange {
        background-color: var(--orange);
        transition: background-color .3s ease-in-out, color .3s ease-in-out;

        &:hover,
        &:focus {
            background-color: var(--beige);
            color: var(--orange);
        }
    }

    &__button-transparent {
        border: 1px solid var(--white);
        transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;

        &:hover,
        &:focus {
            background-color: transparent;
            color: var(--orange);
            border: 1px solid var(--orange);
        }
    }

    &__button-scroll {
        display: flex;
        align-items: center;
        gap: 14px;
        align-self: flex-end;

        &:hover &-text,
        &:focus &-text {
            color: var(--orange);
        }

        &:hover &-link,
        &:focus &-link {
            background-color: var(--orange);
        }

        &:hover &-icon,
        &:focus &-icon {
            fill: var(--white);
        }
    }

    &__button-scroll-text {
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.03em;
        transition: color .3s ease-in-out;
    }

    &__button-scroll-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: var(--white);
        border-radius: 50%;
        transition: background-color .3s ease-in-out;

    }

    &__button-scroll-icon {
        fill: var(--orange);
        transition: fill .3s ease-in-out;
    }
}

.benefits {
    background-color: var(--violet);
    padding: 50px 0;
    margin-bottom: 60px;

    &__list {
        display: flex;
        gap: 88px;
        padding: 0 20px;
    }

    &__list-item {
        position: relative;
        flex-basis: calc((100% - 176px) / 3);

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 60px;
            right: -44px;
            width: 1px;
            height: 124px;
            background-color: rgba(255, 255, 255, 0.50);
        }
    }

    &__list-icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        border-radius: 365px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        margin-bottom: 19px;
    }

    &__list-item-icon {
        fill: var(--orange);
    }

    &__list-item-title {
        color: var(--white);
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 18px;
    }

    &__list-item-text {
        width: 100%;
        color: rgba(255, 255, 255, 0.70);
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
    }
}

.ingridients {
    padding: 60px 0;

    &__title {
        max-width: 412px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 24px;
    }

    &__list-item {
        position: relative;
        flex-basis: calc((100% - 96px) / 4);
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;
        padding: 28px 0;

        &.bg-orange {
            background-color: var(--orange);

            &>h4 {
                color: var(--white);
            }
        }

        &.bg-white {
            background-color: var(--white);
            border: 1px solid var(--orange);
            transition: border .3s ease-in-out;


            &>svg {
                stroke: var(--orange);
            }

            &:hover {
                border: 1px solid transparent;
            }
        }

        &.bg-violet {
            background-color: var(--violet);

            &>h4 {
                color: var(--white);
            }
        }

        &:hover .ingridients__hidden {
            transform: translateY(0);
        }
    }

    &__list-item-image {
        margin: 0 auto 36px;
    }

    &__list-item-icon {
        position: absolute;
        top: 14px;
        right: 14px;
        fill: transparent;
        stroke: var(--white-2);
    }

    &__list-item-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        padding: 0 28px;
    }

    &__hidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        transform: translateY(100%);
        transition: transform .3s ease-in-out;
        padding: 20px 15px;
    }

    &__hidden-title {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__hidden-list {
        display: flex;
        gap: 6px;
        margin-bottom: 14px;

    }

    &__hidden-list-item {
        font-size: 10px;
        line-height: 12px;
        border-radius: 35px;
        padding: 6px 16px;

        &.bg-orange {
            background-color: var(--orange);
            color: var(--white);
        }

        &.bg-white {
            border: 1px solid var(--orange);
            background-color: var(--white-2);
        }
    }

    &__hidden-text {
        max-height: 162px;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        overflow: hidden;
    }
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;

    &__color {
        color: var(--orange);
    }
}

.production {
    padding: 60px 0;

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__video {
        position: relative;
        max-width: 600px;
        width: 100%;
        height: 400px;
        border-radius: 15px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(17, 17, 17, 0.40);

        }
    }

    &__video-iframe {
        width: 100%;
        height: 100%;
    }

    &__video-image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__video-play {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 200;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 1px solid var(--white);
        border-radius: 50%;
        cursor: pointer;
    }

    &__video-play-icon {
        fill: #F5F4F4;
        transform: translateX(2px);
    }

    &__info {
        max-width: 516px;
        border-radius: 15px;
        background: #FFF;
        padding: 32px;
    }

    &__info-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        margin-bottom: 28px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__list-item {
        display: flex;
        gap: 8px;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;

        &::before {
            content: '';
            min-width: 8px;
            height: 8px;
            background-color: var(--gray);
            border: 1px solid #ECEDED;
            border-radius: 50%;
            margin-top: 5px;
        }
    }
}

.products {
    padding: 60px 0;

    &__list {
        display: flex;
        gap: 18px;
        flex-wrap: wrap;
    }

    &__list-item {
        flex-basis: calc((100% - 54px) / 4);
        text-align: center;
        border-radius: 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: var(--white);
        padding: 32px 0;
    }

    &__list-item-img {
        margin: 0 auto 8px;
    }

    &__list-item-info {
        margin-bottom: 18px;
    }

    &__list-item-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    &__list-item-descr {
        color: rgba(17, 17, 17, 0.70);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
    }

    &__list-item-price {
        display: inline-block;
        border-radius: 100px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: var(--white-2);
        padding: 8px 20px;
    }
}

.sellers {
    padding: 60px 0;

    &__list {
        display: flex;
        gap: 16px;
    }

    &__list-item {
        flex-basis: calc((100% - 32px) / 3);
        border-radius: 15px;
        overflow: hidden;

        &:hover &-block::before,
        &:focus &-block::before,
        &:hover &-text,
        &:focus &-text {
            opacity: 1;
            visibility: visible;
        }
    }

    &__list-item-block {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(161deg, rgba(253, 253, 255, 0.10) 0%, rgba(8, 2, 21, 0.00) 100%);
            backdrop-filter: blur(7.5px);
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease-in-out;
        }
    }

    &__list-item-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        max-width: 288px;
        width: 100%;
        color: var(--white-2);
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-in-out;
    }

    &__list-item-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: center;
        border-radius: 0px 0px 15px 15px;
        border-right: 1px solid rgba(17, 17, 17, 0.10);
        border-bottom: 1px solid rgba(17, 17, 17, 0.10);
        border-left: 1px solid rgba(17, 17, 17, 0.10);
        background-color: var(--white);
        padding: 28px 0;
    }
}

.reviews {
    padding: 60px 0 120px;

    & .title {
        margin-bottom: 91px;
    }

    &__list {
        display: flex;
        gap: 28px;
        margin-bottom: 49px;
    }

    &__list-item {
        position: relative;
        flex-basis: calc((100% - 56px) / 3);
        border-radius: 15px;
        border: 1px solid rgba(17, 17, 17, 0.10);
        background: var(--white);
        box-shadow: 0px 9.049315452575684px 100px 0px rgba(17, 17, 17, 0.03);
        text-align: center;
        padding: 0 24px 24px;
    }

    &__list-item-avatar {
        position: absolute;
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__list-item-name {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        margin: 56px 0 24px;
    }

    &__list-item-review {
        color: rgba(17, 17, 17, 0.70);
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
    }

    &__button {
        display: block;
        min-width: 222px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        border-radius: 100px;
        border: 1px solid var(--orange);
        cursor: pointer;
        transition: background-color .3s ease-in-out, color .3s ease-in-out;
        margin: 0 auto;

        &:hover,
        &:focus {
            background-color: var(--orange);
            color: var(--white);
        }
    }
}

.footer {
    background-color: var(--violet);
    padding-top: 50px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        }

        &:last-child {
            margin-top: 24px;
        }
    }

    &__text {
        max-width: 300px;
        color: var(--white);
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.02em;
    }

    &__text-color {
        color: var(--orange);
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__title {
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        margin-bottom: 14px;
    }

    &__socials-icon {
        stroke: var(--white);
    }

    &__address-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }


    &__address-list-link {
        color: var(--white);
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        transition: color .3s ease-in-out;

        &:hover,
        &:focus {
            color: var(--orange);
        }
    }

    &__nav-menu {
        margin-right: 0;
    }

    &__menu-link {
        color: var(--white);
    }

    &__form {
        display: flex;
        gap: 8px;
    }

    &__form-input {
        width: 313px;
        height: 52px;
        color: var(--white);
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        background-color: transparent;
        border-radius: 30px;
        border: 1.5px solid rgba(255, 255, 255, 0.15);
        padding-left: 24px;

        &::placeholder {
            color: rgba(255, 255, 255, 0.30);
            font-size: 18px;
            line-height: normal;
            letter-spacing: -0.02em;
        }

    }

    &__form-subscribe {
        min-width: 137px;
        height: 52px;
        color: var(--white);
        font-size: 14px;
        font-weight: 600;
        border-radius: 100px;
        background-color: var(--orange);
        cursor: pointer;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;

        &:hover,
        &:focus {
            color: var(--orange);
            background-color: var(--beige);
        }
    }
}

.modal {

    &__overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.40);
        z-index: 1000;
        transition: opacity .3s ease-in-out;

    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 517px;
        border-radius: 15px;
        background: var(--white-2);
        padding: 40px;

        & .title {
            max-width: 300px;
            text-align: left;
            margin-bottom: 40px;
        }
    }

    &__close {
        position: absolute;
        right: 24px;
        top: 24px;
        cursor: pointer;
    }

    &__close-icon {
        stroke: var(--black);
    }

    &__form {}

    &__form-block {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-bottom: 40px;
    }

    &__form-item {}

    &__form-label {
        display: block;
        color: rgba(64, 64, 64, 0.30);
        font-size: 14px;
        letter-spacing: -0.02em;
        margin-bottom: 8px;
    }

    &__form-content {
        position: relative;
    }

    &__form-input {
        width: 100%;
        height: 68px;
        color: #404040;
        font-size: 18px;
        letter-spacing: -0.02em;
        border-radius: 13px;
        border: 1.5px solid rgba(17, 17, 17, 0.05);
        transition: border-color .3s ease-in-out;
        outline: transparent;
        padding: 0 24px 0 62px;

        &:focus {
            border-color: var(--orange);
        }

        &:focus+.modal__form-icon {
            stroke: var(--orange);
        }

        &:invalid {
            border-color: #E74A3B;
        }

        &:invalid+.modal__form-icon {
            stroke: #E74A3B;
        }

        &:invalid+.modal__form-icon+.modal__form-error {
            opacity: 1;
            visibility: visible;
        }
    }

    &__form-icon {
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
        fill: transparent;
        stroke: #404040;
        transition: stroke .3s ease-in-out;
    }

    &__form-error {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        fill: #E74A3B;
        transition: opacity .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    &__form-textarea {
        width: 100%;
        height: 137px;
        color: #404040;
        font-size: 18px;
        letter-spacing: -0.02em;
        resize: none;
        outline: transparent;
        border-radius: 13px;
        border: 1.5px solid rgba(17, 17, 17, 0.05);
        transition: border-color .3s ease-in-out;
        padding: 22px 24px;

        &::placeholder {
            color: rgba(64, 64, 64, 0.30);
            font-size: 18px;
            letter-spacing: -0.02em;
        }

        &:focus {
            border-color: var(--orange);
        }
    }

    &__form-label-checkbox {
        display: block;
        color: rgba(64, 64, 64, 0.60);
        font-size: 14px;
        letter-spacing: -0.02em;
    }

    &__form-checkbox-hidden:checked+.modal__form-label-checkbox .modal__form-checkbox {
        background-color: var(--orange);
    }

    &__form-checkbox-hidden:checked+.modal__form-label-checkbox .modal__form-checkbox-icon {
        fill: var(--white);
    }

    &__form-checkbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: var(--white);
        border-radius: 6px;
        border: 1px solid rgba(17, 17, 17, 0.14);
        transition: background-color .3s ease-in-out;
        margin-right: 12px;
    }

    &__form-checkbox-icon {
        fill: none;
        transition: fill .3s ease-in-out;
    }

    &__from-link {
        color: var(--orange);
        text-decoration-line: underline;
    }

    &__form-button {
        color: var(--white);
        font-size: 14px;
        font-weight: 600;
        border-radius: 100px;
        background-color: var(--orange);
        padding: 14px 40px;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    transform: translateX(100%);
    background-color: var(--violet);
    transition: transform .3s ease-in-out;
    padding: 136px 20px 20px;

    &.is-open {
        transform: translateX(0);
    }

    & .modal__close {
        top: 20px;
        right: 20px;
        transition: stroke .3s ease-in-out;

        &:hover .modal__close-icon,
        &:focus .modal__close-icon {
            stroke: var(--orange);
        }
    }

    & .modal__close-icon {
        stroke: var(--white);
    }

    & .nav__menu {
        flex-direction: column;
        max-width: 134px;
        margin: 0 auto;
    }

    & .nav__menu-link {
        color: var(--white);

        &:hover,
        &:focus {
            color: var(--orange);
        }
    }

}


@import "media";